a {
	color: #fff;
	text-decoration: none;
}
aside {
    float: right;
	width: 300px;
}
body {
	background-image: url("../images/dark-blue-silk.jpg");
	color: white;
	font-family: 'Arima Madurai', cursive;
}
footer {
	border-top: 1px solid #ccc;
}
h1, h2 {
	font-weight: bolder;
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: large;
}
nav {
	border-bottom: 1px solid #ccc;
	text-align: left;
	width: 100%;
}
section {
	display: inline;
	float: left;
	padding-bottom: 15px;
	width: 50%;
}
.about-me img {
	float: right;
	width: 75%;
}
.clearfix {
	overflow: auto;
}
.connect img {
	margin: 7px;
}
.container {
	width: 100%;
}
.content-wrapper {
	background-color: black;
/*	border-left: 1px dashed grey;
	border-right: 1px dashed grey;*/	
	margin: 0 auto;
	max-width: 768px;
	padding: 15px;
	width: 100%;
}

p{
    color: white;
}

hr{
    border-color: black;
}

@media only screen and (max-width: 768px) {
    aside{
        float: none;
    }
    
    .content-wrapper{
        background-color: darkblue;
        max-width: 640px;
    }
    
    .connect{
        align-content: center;
        margin-left: 44%;

    }
    
    section{
        float: none;
        text-align: center;
    }
    
    hr{
       border-color: black;
        width: 100%;
    
    }

}
    

@media only screen and (max-width: 640px) {
    
       .content-wrapper{
        background-color: limegreen;
        max-width: 400px;
    }
    
     section{
        float: none;
        text-align: center;
    }
    
    .about-me img {
	float: none;
	width: 75%;
    
}
    
    .connect{
        align-content: center;
   
        margin-left: 30%;
    }
  
    hr{
          width: 100%;
    }
    
}